<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    {% include 'medi_app/common/common_css.html' %}   
</head>
<body>
<div class="main-body">
    <div class="container-fluid " style="background-color: rgba(54, 180, 244, 0.663);">
        <h2 style="text-align: center;color: rgb(8, 99, 236);margin-bottom: 0px;">🩺Medi Connect Welcomes You🩺</h2>
    </div>

    {% include 'medi_app/common/navbar.html' %}   
</div>

    {% include 'medi_app/common/footer.html' %}   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>   

</body>
</html>