{% load static %}

<style>

  .nav-link.dropdown-item{
  
    color: black;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

  }
 .nav-item{
  margin-right: 10px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

 
</style>


<!-- navbar code starts -->

    <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="/" style="color:rgb(8, 0, 0)"><img src="{%static 'medi_app/images/logo_.png'%}" width="100px"  alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-left: 100px;">
                <a class="nav-link active" aria-current="page" href="/">
                
                  <i class="fas fa-home"></i> Home
                
                </a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/about_us/">About us </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact_us/"><i class="fas fa-user-secret"></i>Contact us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/about_vitamins/">About Vitamins</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/about_blood/">About Blood</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/doctor_login/">Doctor</a></li> 
                  <li><a class="dropdown-item" href="/patient_login/">Patient</a></li>
                 
                </ul>
              </li>

              

              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true"></a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>

    <!-- navbar code ends -->
